<%- include('homeLayouts/header.ejs') %>    
    
  <div class="container my-5">
    <div class="row text-center">
      <% if(user) { %>
        <h1>Wecome to Magazine, <span><%= user.username %></span></h1>
      <% } else if(guest) { %>
       <h1>Wecome to Magazine, <span><%= guest.name %></span></h1>
     <% } %>
    </div>
    <div class="row text-center">
      <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong><%= message.message %></strong>
        </div>
      <% } %>
    </div>
 
   

  </div>



  <%- include('homeLayouts/footer.ejs') %>